<!Doctype html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Moustapha Pene">

	<title>Accueil</title>

	 <link type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="css/full-width-pics.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	 <nav id="Menu" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">My C@mpus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul id="menu" class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Accueil
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="codification.php">Codification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Restaurant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Annonce.php">Annonces</a>
              <ul>
                <li><a href="#">Avis de pertes</a></li>
                <li><a href="#">Avis de ventes</a></li>
                <li><a href="#">Conference</a></li>
                <li><a href="#">Recherche de colocataire</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 <header >
    </header >
     <section class="py-5">
      <div class="container">
        <h1 text color="red">Logiciel My Campus</h1>
        <p class="lead">Application pour la gestion de logement d'une universite</p>
        <p>
        	Ce logiciel sera géré par l'administration qui se charge des logements dans un campus.Avec cette application on pourra savoir les étudiants qui occupent une chambre dans une pavillon,mais aussi on peut savoir dans quelle pavillon ou dans quelle chambre d'une pavillon X se loge un étudiant E.On peut savoir aussi le nombre d'étudiants codifiés ,le nombre de chambres dans une université,le nombre de chambres dans une pavillon le nombre de pavillons dans une université.
        </p>
        
      </div>
    </section>


 <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>